@import 'tailwindcss';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/vendor/filament/**/*';
@source '../../../../vendor/filament/**/*.blade.php';
@source '../../../../vendor/guava/calendar/resources/**/*';

@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/guava/calendar/resources/css/theme.css';

@theme {
	--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}
